<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.ricardo.minhas_receitas">

    <application
        android:allowBackup="true"
        android:icon="@drawable/main"
        android:label="Minha Receita"
        android:roundIcon="@drawable/main"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ListaReceitasActivity" />
        <activity android:name=".DetalhesReceitaActivity"></activity>
    </application>

</manifest>